version: '3.8'

services:
  landing_db:
    container_name: landing-db
    # 일반 postgres 이미지를 써도 되지만, 확장성(AI 기능 등)을 고려해 pgvector 유지 추천
    # 또는 가볍게 가려면 'postgres:15' 사용 가능
    image: ankane/pgvector:latest
    restart: always
    environment:
      POSTGRES_USER: landing_user
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: landing_db
    ports:
      # [보안 강화] 외부 접속 차단, 오직 localhost(127.0.0.1)에서만 접속 허용
      # 개발자는 SSH Tunneling을 통해서만 접속 가능
      - "127.0.0.1:5433:5432"
    volumes:
      # 데이터 영구 보존을 위한 볼륨 설정
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - landing_network

volumes:
  postgres_data:


networks:
  landing_network:
    driver: bridge
